*.exe
*.[oa]
*.obj
*.ncb
*.suo
*.user
*.layout
*.depend
*.class
*.userprefs
*~
obj/
bin/
Debug/
Release/
pkg/
.metadata/
android-support-v4.jar
fileServer/data/
gen/
/gitgui
/gitk
