/* AndroidPush project
 * Copyright 2012 Philippe Quesnel
 * Licensed under the Academic Free License version 3.0
 */
/****************************************************/
/* The following lines will enable Windows XP/Vista Visual Styles */

/* don't add this if building the DLL */
#ifndef IUP_DLL
1 24 "androidGUI.manifest"
#endif

/****************************************************/
